#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
:root {
  --bg-primary-verydark:#0F0C07;
  --bg-primary-verywhite: white;
  --bg-primary-midwhite: #c8c7c7;
  --bg-primary-dark: #3D2614;
  --bg-primary-middle: #4f311a;
  --bg-primary-light: #9f5e25;
  --bg-primary-light-2: #AA367C;
  --bg-primary-dark-2: #201357;
  --bg-primary-light-transparent: rgba(159, 94, 37, 0.7);
  --bg-primary-dark-transparent: rgba(159, 94, 37, 0.9);

  --clr-txt-veryblack: #000;
  --clr-txt-midblack: #212020;
  --clr-txt-verywhite: #fff;
  --clr-txt-midwhite: ##c8c7c7;

  --clr-bg-white: #ffffff;
  --clr-bg-lightgray: #f5f5f5;
  --clr-bg-pastelblue: #add8e6;
  --clr-bg-pastelgreen:  #dff3d7;
  --clr-bg-pastelightgreen: #eaf5e6;
  --clr-bg-pastelpink: #ffdab9;
  --clr-bg-lightblue: ''#87CEEB;
  --clr-bg-windowsBlue: #0078D7;
  --clr-bg-lightgray2: #d3d3d3;
  --clr-bg-beige: #f5f5dc;
  --clr-bg-systemdefault: /* Use the default background colors */;
  --clr-bg-brand: /* Replace with your brand color */;


  --clr-btn-primary: #007bff;
      /* Blue for primary actions */
  --clr-btn-primary-hover: #0056b3;
  --clr-btn-success: linear-gradient(90deg, #218838, #28A745);     /* Green for success or positive actions */
  --clr-btn-warning: linear-gradient(90deg, #FFD42A, #FFC107);     /* Yellow for warnings or alerts */
  --clr-btn-danger: linear-gradient(90deg, #C82333, #DC3545);      /* Red for critical actions or errors */
  --clr-btn-default: #F8F9FA;                                     /* Default background color for buttons */
  --clr-btn-info: linear-gradient(90deg, #138496, #17A2B8);        /* Blue for informational actions */
  --clr-btn-secondary: linear-gradient(90deg, #5A6268, #6C757D);   /* Secondary or muted button color */
  --clr-btn-light: #F8F9FA;                                        /* Light background color for buttons */
  --clr-btn-dark: linear-gradient(90deg, #23272b, #343A40);        /* Dark background color for buttons */

  --txt-primary-clr:  #d5823a;


  --clr-notification-info: #0dccf2;
  --clr-notification-success: green;
  --clr-notification-alert: red;
}

#root {
  /* background-color: red; */
  padding: 0px;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.card {
  padding: 2em;
}
.read-the-docs {
  color: #888;
}
/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {

  font-weight: 400;

  overflow-x: hidden;
  /* z-index: -2; */

  background-color: var(--bg-primary-verydark) !important;
  /* color: #fff !important; */
  color: var(--clr-txt-veryblack) !important;

  font-family: 'Centra', sans-serif !important;
}
/* .background-image{
  width: 100%;
  position: absolute;
  z-index: 0;

  top: 0px;
  left: 0px;
  height: 100%;
  position: fixed;
  background-image: url('./assets/img/digital-grid-black.jpg');
  background-size: cover;
  background-repeat: no-repeat;
} */
.banner-background {
  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}
.small-Text {
  display: flex;
  align-items: center;
  font-size: 0.5rem;
  margin: 0;
  padding: 2px;
}
.flex {
  display: flex;
  align-items: center;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}

p.success {
	color: green;
}

p.danger {
	color: red;
}

/************* User ***********/

.user-container {
  display: flex;
  position: relative;
  gap: 20px;
  justify-content: flex-end;
  align-items: flex-start;
  top: -1px;;
  width: 100%;
  height: 50px;
  /* background-color: yellow; */
  padding: 10px;
  text-align: left;

}

.sign-in, .sign-up {
  position: relative;

}
.user-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  border: 2px solid var(--clr-bg-windowsBlue);
  background-color:   var(--clr-bg-lightblue);
  border-radius: 50%;
  font-weight: 800;
  padding: 10px;
  width: 50px;
  height: 50px;
}

.form-fields {
  display: flex;
  padding: 0px;
  justify-content: center;

}
.form-fields-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0px;
  /* background-color: red; */
}
.form-fields .input-box, .sign-up-form input{
  margin: 5px 0px;
  padding: 8px;
}
.sign-in-form, .sign-up-form {
  padding: 20px;
  position: absolute;
  right: -20px;
  top: 110%;
  box-shadow: 1px 1px 5px 1px black;
  background-color: var(--clr-bg-lightgray2);
}

.form-fields div:nth-child(1) {
  font-size: 1.25rem;
  margin: 5px;
  width: 50%;

}
.user-signin, .user-signup {
  background-color: var(--clr-btn-primary );
  transition: all 500ms;
}
.user-signin:hover, .user-signup:hover {
  background-color: var(--clr-btn-primary-hover );
  transition: all 500ms;
}
@media (max-width: 767px) {
  .user-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
    height: max-content;
    /* width: fit-content; */
    position: relative;
    top: -25px;
    left:0px;
    padding: 10px 10px 0px 10px;

    /* background: yellow; */
  }

  /* .form-fields {
    display: flex;
    flex-direction: column;

  } */
  .user-signin, .user-signup {
    align-self: flex-start;
    margin-left: 0px;

  }
  .sign-in, .sign-up {
    align-self: flex-start;
    justify-content: flex-start;
    /* background-color: red; */
    width: 100%;

    text-align: left;
  }


  .user-profile {
  position: relative;
  left: 20px;
  transform: translate(-50%, 0);
  align-self: flex-start;
    /* position: absolute; */
  }
  .sign-in-form, .sign-up-form {
  padding: 5px;
  position: absolute;
  width: fit-content;
  left: 0px;
  top: 100%;
  box-shadow: 1px 1px 5px 1px black;

}
  .form-fields {
    display: flex;
    justify-content: center;
  }

}
.user-container .sign-in, .user-container .sign-up, .user-container .sign-out{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.25rem;
  transition: all 300ms;

}
.user-container .sign-in:hover, .user-container .sign-up:hover, .user-container .sign-out:hover {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration: underline;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  /* font-weight: 800; */
}

/* .user-container .sign-in:hover + .sign-in-form {
  display: block;
} */
/************ Navbar Css ************/
.center {
  display: flex;
  justify-content: center;
}
.nav-bar-collapse {

  /* flex-direction: column;
  justify-content: center;
  align-items: flex-end; */
  /* background-color: blue; */
  width: 100%;

  border-radius: 10px;

}


nav.navbar {
  position: fixed;
  display: flex;
  justify-content: center;
  background-color: rgb(122, 122, 122);
  padding: 18px 0;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition:  0.32s ease-in-out;
}

nav.navbar.scrolled {
  padding: 0px 0;
  background-color: var(--bg-primary-midwhite);
}
nav.navbar a.navbar-brand {
    width: 9%;
}


nav.navbar .navbar-nav .nav-link.navbar-link {
  /* background-color: yellow; */
  font-weight: 400;
  padding-top: 20px;

  color: var(--clr-txt-veryblack) !important;
  letter-spacing: 0.8px;
  /* padding: 0 25px; */
  font-size: 18px;
  opacity: 0.75;

}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
    opacity: 1;
}
span.navbar-text {
    display: flex;
    align-items: center;
}
.social-icon {
    display: flex;
    margin-left: 14px;
}
.social-icon a {
    width: 42px;
    height: 42px;
    background: rgba(217, 217, 217, 0.1);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.social-icon a::before {
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    transform: scale(0);
	transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
    transform: scale(1);
}
.social-icon a img {
	width: 40%;
	z-index: 1;
	transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
	filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}
.navbar-text button {
  font-weight: 700;
  color: var(--clr-txt-veryblack);
  border: 1px solid #fff;
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
	position: relative;
	background-color: transparent;
	transition: 0.3s ease-in-out;

}
.navbar-text button span {
  z-index: 1;
}
.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: var(--bg-primary-dark);
  left: 0;
  top: 0;
  z-index: 1;
  transition: 0.3s ease-in-out;
}
.navbar-text button:hover {
  color: white;
  /* background: var(--bg-primary-dark);
  box-shadow: 1px 1px 3px 2px var(--bg-primary-light),  -1px -1px 3px 2px var(--bg-primary-light); */
  box-shadow: 1px 1px 3px 2px white,  -1px -1px 3px 2px white;
}
.navbar-text button:hover::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
  background: var(--bg-primary-dark);

}
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
	outline: none;
  box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid var(--clr-txt-veryblack);
  transition: all 300ms linear;
  top: -2px;
}
nav.navbar .navbar-toggler-icon:focus {
	border-bottom: 2px solid var(--clr-txt-veryblack);
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
	width: 24px;
	position: absolute;
	height: 2px;
	background-color: var(--clr-txt-veryblack);
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
	transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
	top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}

.consultancy-dropdown {
  position: relative;
  top: 10px;
  color: black;
  text-decoration: underline;
  /* background-color: red; */
  height: 10px;
  font-size: 1.25rem;
  align-items: top;
  margin-bottom: 0px;
}

@media (max-width: 767px) {
  .nav-bar-collapse {
    display: flex;
    margin-right: 100%;
    margin-bottom: 0px;
    /* background-color: red; */

    padding: 10px 20px 0px 0px;

  }
  .consultancy-dropdown {
    left: 13px;
    top: -20px;
    z-index: 222;
  }
  .navbar-nav *{
    margin: 5px;
  }
  nav.navbar .navbar-nav .nav-link.navbar-link {
    font-weight: 400;
    padding-top: 0px;
    color: var(--clr-txt-veryblack) !important;
    letter-spacing: 0.8px;
    /* padding: 0 25px; */
    font-size: 18px;
    opacity: 0.75;

  }
}
/* ********* Banner ********** */
.banner {
  margin-top: 100px;
  padding: 50px 0 20px 0;
  position: relative;
  color: var(--clr-txt-verywhite);

  /* padding: 260px 0 100px 0; */
  /* background-color: var(--clr-bg-pastelpink); */
  /* background-image: url('./assets/img/burger-thursday.jpg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat; */
  /* background-color: red; */
  /* background-color:linear-gradient(90.21deg, var(--bg-primary-lig) -5.91%, var(--bg-primary-light) 111.58%); */
}

.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, var(--bg-primary-light) -5.91%, var(--bg-primary-dark) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
  color: car(--clr-txt-verywhite);
}
.banner-moto-discription{
  color: car(--clr-txt-verywhite);
  padding-bottom: 0px;

}
.banner .container {
  /* background-image: url(./assets/img/pizza-saturday.jpg); */
  background-color: rgba(var(--clr-bg-pastelpink), 0.1);
  border-radius: 10px 10px 10px 10px;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}
.banner-moto {
  margin: 20px;
  display: flex;
  /* background-color: rgba(255, 0, 0, 0.5); */
  border-radius: 10px 10px 10px 10px;

  padding-top: 150px;
  padding: 10px;
  justify-content: center;
  font-size: 5rem;
  align-items: center;
}
.banner .moto {
  /* color: var(--clr-txt-veryblack); */
  color: car(--clr-txt-verywhite);
  text-align: left;
}
.moto ul{
  list-style: none;
}
.banner h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}
.banner p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}
.moto {
  color: var(--clr-txt-verydark);
  font-size: 5rem;
}

.banner button {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}
.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.banner button:hover svg {
  margin-left: 25px;
}
.banner img {
  animation: updown 20s linear infinite;
}
@keyframes updown {
    0% {
        transform: translateY(-20px);
    }
    /* 25% {
      transform: transleX(-20px)
    } */
    50% {
      transform: translateY(20px);
    }
    /* 75% {
      transform: translateX(20px);
    } */
    100% {
      transform: translateY(-20px);
    }
}
.txt-rotate > .wrap {
  border-right: 0.08em solid #777;
}
.moto {
  font-size: 1.5rem;
  color: white;
}
/* ******post toogle checkbox *********** */

.select-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  background-color: yellow;
  width: auto;
  font-size: 1rem;
  color: var(--clr-txt-veryblack);
}

.color-codes {
  display: flex;
  padding: 0px;
  width: 100%;
  align-items:flex-end;
  margin-top: 10px;
  justify-content: center;
  gap: 20px;
  font-size: 0.75rem;

}
.color-codes p {

  margin-bottom: 0px;
  padding: 2px;
  border-radius: 8px;
  cursor: pointer;
}
.select-sort {
  display: flex;
  align-self: flex-start;
  border-radius: 8px;
  padding: 2px;
}


.toggle-contribute {

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  font-size: 1rem;

  /* background-color: var(--clr-bg-pastelgreen); */
  /* border-radius: 10px; */
  font-size: 1rem;
  color: var(--clr-txt-veryblack);

}

.toggle {
  display: flex;
  justify-content: center;
  /* background-color: green; */
  margin: 10px;
  border: 2px var(--clr-bg-pastelpink) solid;
  border-radius: 20px;
  padding: 8px 0px 4px 15px ;
  /* width: fit-content; */

}
.toggle-buttons{
  /* background: yellow; */
  width: 100px;

}
.toggle-cb {
  display: none;
  position:relative;
}
.toggle-label {
  position: relative;
  width: 200px;
  height: 20px;
  cursor: pointer;
  transition: 1s all ease-in;

}
.toggle-inner {
  position: absolute;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  background-color: rgb(211, 208, 208);

}
.toggle-switch {
  position: absolute;
  border-radius: 50%;
  top: -6px;
  left: -10px;
  width: 50px;
  height: 50px;
  background-color: white;
  border: 4px solid var(--clr-bg-pastelpink);
  transition: 0.1s all ease-in;
}
.display-text {
  align-self: center;
  width: 200px;
  margin-top: 0px;
  padding: 10px;
  font-size: 1rem;
  color: var(--clr-txt-verywhite);
}


.toggle-cb:checked + .toggle-label .toggle-switch {
  left: calc(30%); /* Position the switch handle to the right when the toggle switch is on */
}
.toggle-cb:checked + .toggle-label .toggle-inner {
  width: 100px;
  height: 40px;
  border-radius: 20px;
  background-color: var(--clr-bg-pastelpink);
}

.toggle-label::before {
  content: "1";
  position: absolute;
  font-size: 1.5rem;
  color: var(--txt-primary-clr);
  width: 100%;
  top: calc(10%);
  left: -40px;
  z-index: 11;
  /* transition: all 0.4s ease-in; */
}
.toggle-cb:checked + .toggle-label::before {
  content: "All";
  position: absolute;
  font-size: 1.5rem;
  color: black;

  top: calc(10%);
  left: -60px;
  z-index: 11;
}

.gear, .pen {
  position: absolute;
  font-size: 2rem;
  left: 5px;
  top: 10px;
  margin-right: 5px;
  padding-right: 5px;
  border-right: 2px solid var(--clr-bg-pastelpink);
  color: var(--txt-primary-clr);
  margin-right: 2px;
}
.contribute-button {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: right;

  align-items: center;
  cursor: pointer;
  width: 240px;
  padding: 10px;
  background-color: var(--clr-btn-primary);
  border-radius: 10px;
  transition: all 500ms;
}
.contribute-button:hover {
  background-color: var(--clr-btn-primary-hover);
}
.contribute-button p {
  margin: 0px;
  padding: 5px;
  color: white;
}
@media (max-width: 767px) {

.toggle-contribute {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;

}
.contribute-button{
  margin-bottom: 10px;
  align-self: flex-start;
}

}
/************ Posts ************/
/* .accordion-container-main {
  width: 100%;
}

.accordion-item {
  width: 100%;
}

.post-content {
  width: 100%;
}

.comment-box {
  width: 100%;
}

.comment-reply-box {
  width: 100%;
} */
/* ---------alien above------------------------ */
.blog-post {
  position: relative;
  padding: 10px 20px 0px 20px;
  color: var(--clr-txt-verywhite);
}

.accordion-collapse {
  position: relative;

}
.accordion-item {
  background-color: red;
}
.accordion-container {
  background-color: var(--clr-bg-lightgray);
  margin: 10px;
  padding: 10px;
}

.comment-container  .collapsed {
  height: 20px;

}
.accordion-body{
  position: relative;
  z-index: 44;
  background-color: var(--clr-bg-pastelgreen);
}
.accordion-body-reply {
  background-color: var(--clr-bg-pastelblue);
}
.post-container {
  position: relative;
  z-index: 2;
  background-color: var(--clr-bg-lightgray2);
}
.post-header {
  display: flex;
  gap: 20px;
}
.post-footer {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 40px;
  padding: 20px;
  border-bottom: 2px solid var(--clr-bg-lightgray);
  border-top: 2px solid var(--clr-bg-lightgray);
}
.hands-thums-up {

  /* font-size: 0.75rem; */
  color: var(--clr-txt-veryblack);
  padding: 5px;
  /* background-color: var(--clr-bg-pastelblue); */
  border-radius: 10px;
  margin: 10px;

}
.flex-space-between{
  display: block;
}
@media (max-width: 767px){
.flex-space-between {
  display: flex;
  justify-content: space-between;
}
}
.comment-reply-box {
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  width: 100%;
  padding-left: 30px;
  border-left: 1px solid var(--clr-bg-pastegreen);
  background-color: var(--clr-bg-pastelightgreen);
  /* border-radius: 10px; */
  /* margin: 10px; */

}

.accordion-button-display {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  /* background-color: var(--clr-bg-pastelblue); */

}
.citation {
  font-size: 0.75rem;
  color: var(--clr-txt-veryblack);
  padding: 5px;
  background-color: var(--clr-bg-pastegreen);
  border-radius: 10px;
  margin: 10px;

}
/* COMMENT version 1 */
.post-content {
  background-color: var(--clr-bg-white);
  min-height: 40px;
  padding: 30px;
  font-size: 1.2rem;
}
@media (max-width: 767px) {
  .post-content {
    padding: 10px;
    font-size: 1rem;
  }
}
.content-text {
  /* justify-content: flex; */
  text-align: justify;
}
.title-and-description-conainer {
 width: 100%;
 min-height: 50px;
  padding: 10px;

}
.comment-date-description {
  border: 1px solid var(--clr-bg-windowsBlue);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
}
.post-description {
  padding: 10px;
  background-color: var(--clr-bg-pastelgreen);
  border-radius: 10px;
  margin: 10px;
  display: flex;
  justify-content: flex-start;

}
.auto-growable-textarea {
   /* Disable the default resize handle */

  min-height: 400px; /* Set a minimum height */
  height: max-content;
  width: 100%; /* Optional: Full width */
  padding: 10px; /* Optional: Add padding */
  font-size: 16px; /* Optional: Set font size */
  border: 1px solid #ccc; /* Optional: Add a border */
}
.comment-footer, .comment-reply-footer {
  display: flex;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
  font-size: 12px;
  border-bottom: 2px solid rgb(213, 229, 209);

}
.comment-body {
  padding: 10px;
  background-color: var(--clr-bg-lightblue);
  min-height: 20px;
  width: 100%;
}

.comment-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 10px;
  background-color: var(--clr-bg-pastelgreen);
  border-radius: 10px;

}
.comment-button{
  margin: 3px;
  background-color: var(--clr-bg-lightblue);
  border-radius: 1px;
  width: max-content;
  padding: 5px;
  font-size: 0.75rem;
  box-shadow: 1px 1px 3px 1px var(--bg-primary-verydark);
  transition: all 1s;
}
.comment-button:hover {
  background-color: var(--clr-bg-pastelblue);
}
.comment-title {
  font-size: 1.25rem;
  color: var(--clr-txt-veryblack);
  padding: 5px;
  background-color: var(--clr-bg-pastelgreen);
  border-radius: 10px;
  margin: 10px;
  display: flex;
  justify-content: flex-start;

}
.comment-textarea {
  border-radius: 20px;
  width: 100%;
  /* height: 100%; */
}
.comment-description {

  align-self: flex-start;
  height: max-content;
  /* background-color: red; */
  width: 100%;
  /* width: 100%; */
}

.comment-description input{

  padding: 10px;
  border-radius: 10px;
  width: 95%;
  height: 30px;
}
.display-textarea {
  display: block;
}
.hide-textarea {
  display: none;
}
.comment-button-container {
  background-color: blue;
  display: flex;
  margin: 5px 2px;
}
.form{
  background-color: blue;
}
/* COMMENT version 2 */
.exclamation {
  font-size: 1.25rem;
}
.exclamation-container {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;

}
.exclamation p {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  color: var(--clr-txt-veryblack);
}
.comment-form, .alert-form {

  display: flex;
  flex-direction: column;
  /* align-items: center; */
  box-shadow: 2px 2px 4px 1px rgb(74, 162, 238);
  position: fixed;
  z-index: 8888;
  color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  width: 500px;
  /* height: max-content; */
  min-height: 200px;

  background-color: var(--clr-bg-pastelgreen);
}
.alert-form form  *{
  width: 98%;
  margin: 0 auto;

}
.alert-form form button {
  width: fit-content;
  margin-left: 0px;
  align-self: flex-start;
}

.message-form {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  color: white;
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 20px;
  background-color: rgba(33, 233, 33, 0.9);
  z-index: 9999;
}
.comment-form-notification {
  display: flex;
  min-height: 150px;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.close-form {
  display: flex;
  padding: 20px;
  border-radius: 8px 8px 0px 0px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--clr-bg-windowsBlue);
  font-size: 30px;

  padding: 0px 5px;
}

@media (max-width: 767px) {
  .comment-form, .alert-form {
    width: 80%;
    height: max-content;
  }
}
.comment-form-content  textarea {
  width: 100%;
  height: 150px;;
  padding: 20px;
  border-radius: 0px 0px 8px 8px;
  font-size: 1.25rem;
}

.first-name, .last-name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;

  padding: 10px;
}
.first-name input, .last-name input {
  width: 100%;
  padding: 2px 5px;
  border-radius: 10px;
  font-size: 1.25rem;
}

@media (min-width: 767px) {
  .first-name, .last-name {
    width: 75%;

  }
  .first-name input, .last-name input {
    width: fit-content;
  }
}

.comment-tools, .comment-sub-tools {
  display: flex;
  gap: 10px;
}
.comment-form-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.open-comment-button, .open-reply-button {
  background-color: var(--clr-btn-primary); /* Blue color, you can change it to any color you prefer */
  color: #fff; /* White text color */
  border: none; /* No border */
  border-radius: 4px; /* Rounded corners */
  padding: 2px 10px; /* Padding for better spacing */
  margin: 5px 0px 5px 0px;
  cursor: pointer; /* Cursor style on hover */
  font-size: 0.75rem; /* Font size */
  width: max-content;
}
.open-comment-button:hover {
  background-color: var(--clr-btn-primary-hover); /* Darken the color a bit on hover */
}
.comment-form-title, .alert-form-title {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0px;
}
.comment-reply-body {
  padding: 10px;
  background-color: var(--clr-bg-pasteblue);
  min-height: 20px;
  width: auto;
}
.submit-comment-button {
  display: flex;
  justify-content: left;
  background-color: var(--clr-btn-primary); /* Blue color, you can change it to any color you prefer */
  color: #fff; /* White text color */
  border: none; /* No border */
  border-radius: 4px; /* Rounded corners */
  padding: 10px 20px; /* Padding for better spacing */
  margin: 10px;
  cursor: pointer; /* Cursor style on hover */
  font-size: 0.75rem; /* Font size */
  width: max-content;

}
.submit-comment-button:hover {
  background-color: var(--clr-btn-primary-hover); /* Darken the color a bit on hover */
}
/* **** Notifications */

.text-info{
  color: var(--clr-notification-info);
  font-size: 1.25rem;
}
.text-sucess {
  color: var(--clr-notification-success);
  font-size: 1.25rem;
}
.text-alert {
  color: var(--clr-notification-alert);
  font-size: 1.25rem;
}
.notification-info {

  background-color: var(--clr-notification-info);
  box-shadow: 2px 2px 4px 1px rgb(240, 142, 142);
}
.notification-success {
  background-color: var(--clr-notification-success);
}
.notification-alert {
  background-color: var(--clr-notification-alert);
}
.notification-container {
position: relative;
width: 100%;
/* background-color: rgb(243, 243, 151); */

padding: 20px;
margin-top: 20px;
border-radius: 10px;
font-size: 1.25rem;
}
.notification-container::before {
  content: 'Notification';
  position: absolute;
  font-size: 1.25rem;
  left: 0px;
  top: -15px;
  background-color: rgb(243, 243, 151);
  border-radius: 10px;
  padding: 0 5px;

}